.block {
  position: absolute;
  image-rendering: pixelated;  /* Modern browsers */
  image-rendering: crisp-edges;  /* Firefox */
  -ms-interpolation-mode: nearest-neighbor;  /* IE (legacy) */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Directional sprites (4 directions) */
.baba, .belt, .ghost, .keke, .bolt {
  background-size: 100% 400%;
  transition-property: top, left;
  transition-duration: 0.1s;
  transition-delay:0;
}
body {
  padding: 1vw;
  padding-top: 5px;
  position: relative;
  height:80%;
  overflow: hidden;
}
#gamebody {
  height:100%;
  background-color: black;
  position: relative;
}
.gameword {
  font-size: 2.2vh;
  color: #999;
  font-family: system-ui;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  word-break: break-all;
  line-height: 0.8;
}
/* .gameword.active{
  color: white;
} */
/* .gameword.action {
  border-radius: 4px;
  background-color: rgb(82, 53, 39);
} */
/* .gameword.action.active{
  background-color: brown;
} */
.particle {
  position: absolute;
  font-size:2.0vw;
  font-weight:700;
  font-family: sans-serif;
  pointer-events: none;
}
.baba{
  background-image: url("img/baba.png");
  z-index: 1;
}
.baba.r { background-position-y: 0px; }
.baba.l { background-position-y: 34%; }
.baba.u { background-position-y: 69%; }
.baba.d { background-position-y: 103%; }
.keke.r { background-image: url("img/keker.png") }
.keke.l { background-image: url("img/kekel.png") }
.keke.u { background-image: url("img/kekeu.png") }
.keke.d { background-image: url("img/keked.png") }
.bolt.r { background-image: url("img/boltr.png") }
.bolt.l { background-image: url("img/boltr.png") }
.bolt.u { background-image: url("img/boltd.png") }
.bolt.d { background-image: url("img/boltd.png") }
.belt{
  background-image: url("img/belt.png"); 
}
.belt.r { background-position-y: 0px; }
.belt.l { background-position-y: 34%; }
.belt.u { background-position-y: 69%; }
.belt.d { background-position-y: 100%; }
.ghost{
  background-image: url("img/ghost.png"); 
}
.ghost.r { background-position-y: 0px; }
.ghost.l { background-position-y: 34%; }
.ghost.u { background-position-y: 67%; }
.ghost.d { background-position-y: 100%; }
.wall {
  background-image: url("img/wall.png")
}
.fungus {
  background-image: url("img/mushroom.png")
}
.fire {
  background-image: url("img/fire.png")
}
.rose {
  background-image: url("img/rose.png")
}
.rock {
  background-image: url("img/rock.png")
}
.flag {
  background-image: url("img/flag.png")
}
.water {
  background-image: url("img/water.png")
}
.skull {
  background-image: url("img/skulld.png")
}
.lava {
  background-image: url("img/lava.png")
}
.grass {
  background-image: url("img/grass.png")
}
.jelly {
  background-image: url("img/jelly.png")
}
.crab {
  background-image: url("img/crab.png")
}
.star {
  background-image: url("img/star.png")
}
.moon {
  background-image: url("img/moon.png")
}
.love {
  background-image: url("img/love.png")
}
.door {
  background-image: url("img/door.png")
}
.key {
  background-image: url("img/key.png")
}
.box {
  background-image: url("img/box.png")
}
.tree {
  background-image: url("img/tree.png")
}
.ice {
  background-image: url("img/ice.png")
}
.flower {
  background-image: url("img/flower.png")
}

.gameword.babaword {
  background-image: url("img/babaword.png");
  color:transparent;
}
.gameword.isword {
  background-image: url("img/isword.png");
  color:transparent;
}
.gameword.youword {
  background-image: url("img/youword.png");
  color:transparent;
}
.gameword.wallword {
  background-image: url("img/wallword.png");
  color: transparent;
}
.gameword.levelword {
  background-image: url("img/levelword.png");
  color: transparent;
}
.gameword.fireword {
  background-image: url("img/fireword.png");
  color: transparent;
}
.gameword.flagword {
  background-image: url("img/flagword.png");
  color: transparent;
}
.gameword.rockword {
  background-image: url("img/rockword.png");
  color: transparent;
}
.gameword.kekeword {
  background-image: url("img/kekeword.png");
  color: transparent;
}
.gameword.waterword {
  background-image: url("img/waterword.png");
  color: transparent;
}
.gameword.fungusword {
  background-image: url("img/fungusword.png");
  color: transparent;
}
.gameword.defeatword {
  background-image: url("img/defeatword.png");
  color: transparent;
}
.gameword.skullword {
  background-image: url("img/skullword.png");
  color: transparent;
}
.gameword.lavaword {
  background-image: url("img/lavaword.png");
  color: transparent;
}
.gameword.grassword {
  background-image: url("img/grassword.png");
  color: transparent;
  font-size:2.4vh;
}
.gameword.jellyword {
  background-image: url("img/jellyword.png");
  color: transparent;
}
.gameword.crabword {
  background-image: url("img/crabword.png");
  color: transparent;
}
.gameword.starword {
  background-image: url("img/starword.png");
  color: transparent;
}
.gameword.moonword {
  background-image: url("img/moonword.png");
  color: transparent;
}
.gameword.loveword {
  background-image: url("img/loveword.png");
  color: transparent;
}
.gameword.doorword {
  background-image: url("img/doorword.png");
  color: transparent;
  font-size:2.8vh;
}
.gameword.boxword {
  background-image: url("img/boxword.png");
  color: transparent;
}
.gameword.keyword {
  background-image: url("img/keyword.png");
  color: transparent;
}
.gameword.notword {
  background-image: url("img/notword.png");
  color: transparent;
}
.gameword.roseword {
  background-image: url("img/roseword.png");
  color: transparent;
}
.gameword.violetword {
  background-image: url("img/violetword.png");
  color: transparent;
}
.gameword.boltword {
  background-image: url("img/boltword.png");
  color: transparent;
}
.gameword.treeword {
  background-image: url("img/treeword.png");
  color: transparent;
}
.gameword.beltword {
  background-image: url("img/beltword.png");
  color: transparent;
}
.gameword.flowerword {
  background-image: url("img/flowerword.png");
  color: transparent;
}
.gameword.groupword {
  background-image: url("img/groupword.png");
  color: transparent;
}
.gameword.lonelyword {
  background-image: url("img/lonelyword.png");
  color: transparent;
}
.gameword.ghostword {
  background-image: url("img/ghostword.png");
  color: transparent;
}
.gameword.iceword {
  background-image: url("img/iceword.png");
  color: transparent;
}

.gameword.pushword {
  background-image: url("img/pushword.png");
  color: transparent;
}

.gameword.pullword {
  background-image: url("img/pullword.png");
  color: transparent;
}

.gameword.hotword {
  background-image: url("img/hotword.png");
  color: transparent;
}

.gameword.meltword {
  background-image: url("img/meltword.png");
  color: transparent;
}

.gameword.weakword {
  background-image: url("img/weakword.png");
  color: transparent;
}

.gameword.floatword {
  background-image: url("img/floatword.png");
  color: transparent;
}

.gameword.winword {
  background-image: url("img/winword.png");
  color: transparent;
}

.gameword.downword {
  background-image: url("img/downword.png");
  color: transparent;
}

.gameword.upword {
  background-image: url("img/upword.png");
  color: transparent;
}

.gameword.rightword {
  background-image: url("img/rightword.png");
  color: transparent;
}

.gameword.leftword {
  background-image: url("img/leftword.png");
  color: transparent;
}

.gameword.stopword {
  background-image: url("img/stopword.png");
  color: transparent;
}

.gameword.sinkword {
  background-image: url("img/sinkword.png");
  color: transparent;
}

.gameword.shutword {
  background-image: url("img/shutword.png");
  color: transparent;
}

.gameword.shiftword {
  background-image: url("img/shiftword.png");
  color: transparent;
}

.gameword.teleword {
  background-image: url("img/teleword.png");
  color: transparent;
}

.gameword.moreword {
  background-image: url("img/moreword.png");
  color: transparent;
}

.gameword.moveword {
  background-image: url("img/moveword.png");
  color: transparent;
}

.gameword.openword {
  background-image: url("img/openword.png");
  color: transparent;
}

.gameword.roseredword {
  background-image: url("img/roseredword.png");
  color: transparent;
}

.red {
  background-image: url("img/redword.png");
  color: transparent;
}
.blue {
  background-image: url("img/blueword.png");
  color: transparent;
}

button.selected {
  background-color: #99F;
}
.block.selected {
  outline: 1px solid #99F;
}
.tier {
  position:absolute;
  pointer-events: none;
  background-color: white;
  opacity: 0.05;
}
.controlInfo {
  pointer-events: none;
  position:absolute;
  margin-top: -30px;
  margin-left: 130px;
  color: black;
  z-index:1;
}
.gridline {
  pointer-events: none;
  position:absolute;
  outline:1px solid #222;
}
#ruleUI {
  height: 100px;
  overflow-y: scroll;
  display: inline-block;
}
#mobileControls {
  display: none;
}
@media screen and (max-width: 700px) {
  
  #mobileControls {
    display: inline-block;
    position:relative;
    top:100px;
  }
  #mobileControls span {
    display: inline-block;
    position: absolute;
    width: 15vw;
    height: 15vw;
    border: 1px solid #555;
    font-size: 12vw;
    margin:5px;
  }
  .ctlup { top: -15vw;left: 15vw; }
  .ctlright { left: 30vw; }
  .ctldown { top: 15vw;left: 15vw; }
  .ctlz { left: 45vw; }
  .ctlspace { left: 60vw; }
  #ruleUI {
    display: none;
  }

  .modal span img {
    width: 20vw;
  }
}
.float {
  animation-name: floatAnim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/* Add Animation */
@keyframes floatAnim {
    0% {
        margin-top: 0px;
    }
    50% {
      margin-top: -10px;
    }
    100% {
        margin-top: 0px;
    }
}
.modal {
  position: absolute;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0;
  z-index: 1000;
  top: 25px;
  left: 25px;
  width: calc(100% - 80px);
  height: calc(100% - 50px);
  background-color: white;
  box-shadow: 20px 20px 20px 2px black;
  opacity: 0;
  border: 3px solid #cc0e62;
  padding-left: 30px;
  overflow-y: au
}
.modal img {
  width: 200px;
}
.modal span {
  display: inline-block;
  cursor: pointer;
}
.modal span:hover {
  outline: 2px solid blue;
}
.close {
    color: #666;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: sans-serif;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
#modaltext{
    padding: 20px;
    font-size: 20px;
}
.loading {
  display: none;
  position:absolute;
  top:0;
  left:0;
  display:flex;
  width:100%;
  height:100%;
  background-color:white;
  opacity: 0.6;
  z-index:100;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size:30px;
}